<div class="body">
  <mat-spinner *ngIf="loading" diameter="60"></mat-spinner>
  <form [formGroup]="form" *ngIf="!loading" (ngSubmit)="logIn()">
    <div class="body__figure">
      <img src="./assets/img/programmer.png" alt="" width="50%" />
      <h1>Log In</h1>
    </div>
    <div class="body__form">
      <mat-form-field class="body__form--item" appearance="outline">
        <mat-label>admin</mat-label>
        <input matInput type="text" autocomplete="off" formControlName="user" />
      </mat-form-field>
      <mat-form-field class="body__form--item" appearance="outline">
        <mat-label class="label">123</mat-label>
        <input matInput type="password" autocomplete="off" formControlName="password" />
      </mat-form-field>
      <button mat-raised-button class="body__form--item" type="submit" [disabled]="form.invalid" color="primary"
        style="height: 50px">
        Log In
      </button>
    </div>
  </form>
</div>
